<div class="container">
  <div class="row mt-3">
    <h3>Configuración de conceptos</h3>
  </div>
  <p-toast></p-toast>
  <div class="row mt-3">
    <div class="col">
      <p-card header="Ejercicios">
        <card-exercise [exercises]="exercises" (msg)="messageSystem($event)"></card-exercise>
      </p-card>
      <div class="p-grid mt-3">
        <p-card class="p-col" header="Tipos de bloque">
          <card-config
            [group]="classes"
            [type]="'class'"
            (msg)="messageSystem($event)"
          ></card-config>
        </p-card>
        <p-card class="p-col" header="Gupos musculares">
          <card-config
            [group]="muscs"
            [type]="'musc'"
            (msg)="messageSystem($event)"
          ></card-config>
        </p-card>
      </div>
    </div>
  </div>
</div>
