<p-card
  header="Registro"
  [style]="{ width: '25rem', 'margin-bottom': '2em' }"
>
  <div class="p-fluid">
    <form [formGroup]="registerForm">
      <div class="p-field">
        <input
          type="text"
          pInputText
          name="name"
          formControlName="name"
          placeholder="Nombre"
          [ngClass]="{ 'ng-invalid ng-dirty': nameInvalid }"
        />
        <small *ngIf="nameInvalid" class="p-error">Coloque un nombre de mas de 3 letras</small>
      </div>
      <div class="p-field">
        <input
          type="text"
          pInputText
          name="surname"
          formControlName="surname"
          placeholder="Apellido"
          [ngClass]="{ 'ng-invalid ng-dirty': surnameInvalid }"
        />
        <small *ngIf="surnameInvalid" class="p-error">Coloque un apellido de mas de 3 letras</small>
      </div>
      <div class="p-field">
        <input
          type="date"
          pInputText
          name="born"
          formControlName="born"
          placeholder="Fecha de nacimiento"
          [ngClass]="{ 'ng-invalid ng-dirty': bornInvalid }"
        />
        <small *ngIf="bornInvalid" class="p-error">Coloque una fecha valida</small>
      </div>
      <div class="p-field">
        <input
          type="email"
          pInputText
          name="email"
          formControlName="email"
          placeholder="Email"
          [ngClass]="{ 'ng-invalid ng-dirty': emailInvalid }"
        />
        <small *ngIf="emailInvalid" class="p-error">COloque un mail valido</small>
      </div>
      <div class="p-field">
        <input
          type="password"
          pInputText
          name="pass"
          formControlName="pass"
          placeholder="Contraseña"
          [ngClass]="{ 'ng-invalid ng-dirty': passInvalid }"
        />
        <small *ngIf="passInvalid" class="p-error">Coloque una contraseña de mas de 6 caracteres</small>
      </div><div class="p-field">
        <input
          type="password"
          pInputText
          name="pass2"
          formControlName="pass2"
          placeholder="Repite contraseña"
          [ngClass]="{ 'ng-invalid ng-dirty': pass2Invalid }"
        />
        <small *ngIf="pass2Invalid" class="p-error">Las contraseñas deben coicidir</small>
      </div>
      <div class="p-field">
        <p-message
          *ngIf="msg.state"
          [severity]="msg.severity"
          [text]="msg.text"
          styleClass="p-mr-2"
        ></p-message>
      </div>
      <div class="p-field">
        <button
          pButton
          pRipple
          type="button"
          label="Registrarse"
          class="p-button-raised p-button-success"
          (click)="check()"
        ></button>
      </div>
      <div class="p-field">
        <button
          pButton
          pRipple
          type="button"
          label="Volver al inicio"
          class="p-button-raised p-button-secondary p-button-text"
          (click)="singInPage()"
        ></button>
      </div>
    </form>
  </div>
</p-card>
