<p-accordion>
  <p-accordionTab
    *ngFor="let block of blocks; let blockIndex = index"
    [header]="block.name"
  >
    <div class="row">
      <dt class="col-sm-3">Nombre del bloque</dt>
      <dd class="col-sm-3">{{ block.name }}</dd>
      <dt class="col-sm-3">Nombre para el usuario</dt>
      <dd class="col-sm-3">{{ block.nameDisplay }}</dd>
      <dt class="col-sm-3">Tipo</dt>
      <dd class="col-sm-3">{{ block.type.name }}</dd>
      <dt class="col-sm-3">Estado</dt>
      <dd class="col-sm-3" *ngIf="block.activated">
        <span class="product-badge status-active">Activa</span>
      </dd>
      <dd class="col-sm-3" *ngIf="!block.activated">
        <span class="product-badge status-inactive">Inactiva</span>
      </dd>
    </div>

    <p-table #dt1 [value]="block.exercises">
      <ng-template pTemplate="header">
        <tr>
          <th>Ejercicio</th>
          <th>Grupo muscular</th>
          <th class="text-center" colspan="3">Trabajo</th>
          <th>
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-plus"
              pTooltip="Agregar ejercicio al bloque"
              tooltipPosition="top"
              class="p-button-rounded p-button-success"
              (click)="loadAddExercise()"
            ></button>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-exer let-exerIndex="rowIndex">
        <tr>
          <td>{{ exer.exercise.name }}</td>
          <td>{{ exer.exercise.musc_g.name }}</td>
          <td colspan="3" class="text-center">
            <div
              class="p-fluid p-formgrid p-grid"
              *ngFor="let work of exer.work_cicle; let cicleIndex = index"
            >
              <div
                class="p-field p-col-12 p-md-9"
                style="padding: 3px !important"
              >
                {{ work.cicle }} x {{ work.repetition }} - ({{ work.weigth }})
              </div>
              <div
                class="p-field p-col-12 p-md-3"
                style="padding: 3px !important"
              >
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-times"
                  class="p-button-rounded p-button-secondary plus"
                  pTooltip="Eliminar ciclo"
                  tooltipPosition="top"
                  (click)="deleteCicle(blockIndex, exerIndex, cicleIndex)"
                ></button>
              </div>
            </div>
            <div>
              <form [formGroup]="form">
                <div class="p-fluid p-formgrid p-grid">
                  <div
                    class="p-field p-col-12 p-md-3"
                    style="padding: 3px !important"
                  >
                    <input
                      (keyup.enter)="addCicle(blockIndex, exerIndex)"
                      type="text"
                      pInputText
                      placeholder="Ciclos"
                      formControlName="cicle"
                    />
                  </div>
                  <div
                    class="p-field p-col-12 p-md-3"
                    style="padding: 3px !important"
                  >
                    <input
                      (keyup.enter)="addCicle(blockIndex, exerIndex)"
                      type="text"
                      pInputText
                      placeholder="Repetciones"
                      formControlName="repetition"
                    />
                  </div>
                  <div
                    class="p-field p-col-12 p-md-3"
                    style="padding: 3px !important"
                  >
                    <div class="p-inputgroup">
                      <input
                        (keyup.enter)="addCicle(blockIndex, exerIndex)"
                        type="text"
                        pInputText
                        placeholder="Peso"
                        formControlName="weigth"
                      />
                      <span class="p-inputgroup-addon">Kg</span>
                    </div>
                  </div>
                  <div
                    class="p-field p-col-12 p-md-3"
                    style="padding: 3px !important"
                  >
                    <button
                      pButton
                      pRipple
                      type="button"
                      icon="pi pi-plus"
                      class="p-button-rounded p-button-secondary plus"
                      pTooltip="Agregar ciclos"
                      tooltipPosition="top"
                      (click)="addCicle(blockIndex, exerIndex)"
                    ></button>
                  </div>
                </div>
              </form>
            </div>
          </td>

          <td>
            <p-confirmPopup></p-confirmPopup>

            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-times"
              class="p-button-rounded p-button-danger"
              pTooltip="Quitar ejercicio"
              tooltipPosition="top"
              (click)="removeExercise($event, blockIndex, exerIndex)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <p-dialog
      header="Seleccione un ejercicio"
      [(visible)]="display"
      *ngIf="exerSelected"
      (onHide)="closeExerForm()"
    >
      <select-exercise
        (complete)="evaluateComplete($event, blockIndex)"
        (close)="closeExerForm()"
        [nuevo]="nuevo"
        [exercise]="exerSelected"
      ></select-exercise>
    </p-dialog>
  </p-accordionTab>
</p-accordion>
