.p-button-rounded{
  margin-right: 5px;
}

.mydialog{
  width: 50vw;
}

.p-multiselect{
  width: 50% !important;
}


.big-width.p-multiselect {
  .p-multiselect.p-component {
      background: #212121;
  }
  width: 50%;
}
